ul.flexa{
    padding:0px ;
    list-style-type: none;
    border: 2px solid blue;
}
main{
    background-color:white;
}
img{
    background-color: azure;
}
button{background-color: rgb(58, 56, 56,0.771);}
button{display:flex;flex-direction: row;}
button{margin-left: 80%;}
h1{
    text-align: center;
}
h1{
    color:white;
}
h1{
    background-color:black;
}
a{
    color: black;
}
h2{
    text-align: center;
}
h2{
    color: white;
}
h2{
    background-color: black;
}
h3{
    text-align: center;
}
li.flex1{
    background-color: azure;
}
li.flex2{
    background-color: azure;
}
li.flex3{
    background-color: azure;
}
img{
    margin-right: 18%;
}
p{
    text-align:right;
}
p{
    background-color: rgba(58, 56, 56, 0.771);
}
p{
    color: white;
}
p{
    margin-left: 35%;
}
p{
    padding:2%;
}
p{
    display: flex;top: 20%;
}
ul.flexa{
    padding: 5%;
}
footer{
    padding: 10%;
}
ul.flex3{
    display:flex;justify-content: center;
}
li.flex1{
    display:flex;flex-direction: row;
}
ul.flexa{
    display:flex ;justify-content:space-around ;
}
ul.flexa{
    background-color: azure;
}
h5{color: white;}
h4{
    color: azure;
}
footer{
    background-color: black
}
ul.flexb{display: flex;justify-content:flex-end ;}
ul.flexb{
    display:flex ;justify-content:space-evenly ;
}
p{margin-right: 20%;border: 2px solid white;}
p{text-align: center;}
ul.flexb{color: white;}
@media screen and (max-width: 1024px) 
@media {screen and (max-width: 1024px)and(min-width: 320px)}
@media screen and(max-width:320px)and(min-width:54px)
